<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Hangman</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
	<nav class="navbar navbar-green">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}" th:text="#{hangman}">Hangman</a>
			</div>
			
		</div>
	</nav>
	
	<div class="container-fluid">
		<section layout:fragment="content">
			<p>Some content</p>
		</section>
	</div>
</body>
</html>